.title{

}

.author{
    text-align: right;
}

.references{
    text-align: left;
}

.doc{
font-family: 'Times New Roman', Times, serif;
}

.gridOne{
    background-color: rgb(49, 49, 53);
}