.Image {
  background-image: url("https://images.unsplash.com/photo-1569242840510-9fe6f0112cee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80");
  height: 91vh;
  padding-right: 0px;
}
.Background {
  background-color: #171a1f;

}

.Desc {
  text-align: center;
  color: white;
}
.Ravi {
  height: 50px;
  background-color: rgb(19, 18, 24);
  width: 100%;
  
}
.Height {
  height: 240px;
  text-align: justify;  
}
